@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,400;0,900;1,100&display=swap');

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}


/*header style*/
.header {
    /*Layout*/
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}
.header > img{
    width: 50px;
    height: 50px;
    margin-left: 120px;
    padding: 10px;
}
ul {
    /*Layout*/
    display: flex;
    gap: 50px;
    margin-right: 145px;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: aliceblue;
}
/*header style*/


/*hero style*/
.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 75px 0px;
    flex-wrap: wrap;
}
.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 500px;
    height: 500px;
    
}
.hero > .hero-text > p{
    font-weight: 400;
    font-size: 18px;
    color: #e5e7eb;
}
.hero > .hero-text > h1{
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 15px;
}
.hero > img{
    width: 500px;
    height: atuo;
    align-self: center;
}
.hero-text > button{
    background-color: white;
    color: #1f2937;
}


/*hero style*/

/*content style*/
.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    height: 450px;
}
.content.heading {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    align-self: center;
    justify-content: center;
    height: 40px;
    padding: 50px 0px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 100px;

}
.card > img {
    height: 150px;
    width: 150px;
    align-items: center;
    border-radius: 10px;
    border: 5px solid #3882f6;
}
.card > p {
    color: #4e5968;
    align-items: center;
    text-align: center;
    width: 150px;
    margin: 0;
}
/*content style*/

/*quote style*/
.quote{
        height: 400px;
        background-color: #e5e7eb;
    }
.quote-main{

        width: 50%;
        height: 40%;
        margin: 0 auto;
        transform: translate(0, 55%);
        font-weight: 300;
        font-size: 36px;
        color: #1f2937;
        text-align: center;
}
.quote-cred{
    height: 7%;
    width: 13%;
    display: block;
    transform: translate(162.5%, 320%);
    margin: 0 auto;
    font-weight: 600;
    font-size: 20px;

}

/*quote style*/

/*action style*/
.action{
    height: 400px;
}
.background{
    background-color: #3882f6;
    width: 60%;
    height: 40%;
    margin: 0 auto;
    transform: translate(0, 75%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-radius: 20px;
}

.background > button {
    border: 5px solid white;
    background-color: #3882f6;
    margin-right: 100px;
    color:white;

}

.background > .text{
    color: white;
    margin-left: 100px;
    text-align: start;
}
.background > .text > p{
    margin: 0px;
}
.background > .text > h2{
    margin-top: 0px;
    margin-bottom: 5px;
}

/*action style*/

/*footer*/
.footer{
    background-color: #1f2937;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer > p{
    color: white;
}
/*footer*/


button{
    font-weight: 900;
    font-size: 15px;
    padding: 10px 35px;
    border-radius: 10px;
    border-style: none;
    white-space: nowrap;
    text-align: center;
}